<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <section>
      {{ content | safe }}
    </section>
    <footer>
      <p>&copy; {{ year | date("YYYY") }}</p>
    </footer>
  </body>
</html>
